<h1>Recipes</h1>

<%= form_tag("", method: "get") do %>
  <%= label_tag(:looking_for, "Search for:") %>
  <%= text_field_tag(:looking_for) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @recipes.nil? %>

<p>No recipes found with relevant information... Sorry</p>

<% else %>

<table border="1">
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |recipe| %>
		<tr class=<%= cycle('even', 'odd') %>>
			<th><a href="<%= recipe["source_url"] %>"><%= image_tag(recipe["image_url"], height: '100', width: '100')%></a></th>
			<th><%= link_to "#{sanitize recipe["title"]}", recipe["source_url"] %></th>
			<th><%= recipe["social_rank"]%></th>
		</tr>
	<% end %>
</table>

<% end %>

<p>Powered By Food2Fork.com</p>